


/* Mobile Styles */
@media (max-width: 767px) {
    body {margin:0}
    .icon-bar {
    width: 100%;
    background-color: #129990;
    overflow: auto;
    height: 65px;
    position: fixed; /* Make topnav fixed */
    bottom: 0;          /* Stick it to the top */
    right: 0;
    width: 100%;
    max-width: 100%;
    justify-content: left; /* Ensure a background color is set */
    z-index: 1000;   
    
    overflow: hidden;
  }
  
  .icon-bar img {
    width: 20px; /* Adjust width */
    height: 20px; /* Adjust height */
 
  }
 
  .icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;

    
  }
  
  .icon-bar a:hover {
    
    background-color: #90D1CA;
    opacity: .5;
  }
  
  .icon-bar .active {
    background-color: #90D1CA;
  }
 





}

/* Desktop Styles */
@media (min-width: 768px) {
   

    body {margin:0}

    .icon-bar {
      position: fixed; 
      display: block;/* Make topnav fixed */
    bottom: 50px;  
    right: 10px;
    width: 45px;
    height: 45px;
    max-width: 100%;
    z-index: 1000;
     transition:  height 0.8s ease-in-out;
  justify-content: center;
  align-items: center;
overflow: hidden;
    }
     .icon-bar:hover   {
width: 48px;
    height: 237px;

     }
  .icon-bar img {
    width: 30px; /* Adjust width */
    height: 30px; /* Adjust height */  
     position: relative;
     padding-top: 5px  ;
     padding-left: 5px;
  }
 
  
    .icon-bar a {
      display:block;
      right : 100px;
      transition: all 0.3s ease;
      width: 40px; /* Adjust width */
      height: 40px; /* Adjust height */
      border-radius: 50%;
      justify-content: center;
align-items: center ;
margin-bottom: 5px;

      
    }
    
    .icon-bar a:hover {
      background-color: #90D1CA;
        opacity: .5;
    }
    
    .icon-bar  .active {
      background-color: #90D1CA;
    }

    
}