



.ed{
  
width: 60%;
height: auto;
display: flex;
flex-direction: row;
justify-content: center;
}
.cir{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: -22px;
    top: 15px;
    z-index:10 ;
    background-color: transparent;
}
.cir1{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: -22px;
    top: -5px;
    z-index:10 ;
    background-color: rgb(46, 44, 171);
}
  .cir img{
    display: block;
width: 60px;
height: 60px;
margin-top: -15px;
margin-left: -15px;

    transition: transform 1s;
    transform-style: preserve-3d;

            }
.cir img:hover {
    transform: rotateY(180deg);
  }





.scon{
   padding-left: 9%;
    margin-top: -2px;
    word-spacing:5px;
    line-height: 25px;
    width: 100%;
}
.scon h1{
    font-size: 25px;
}
.scon h2{
    font-size: 20px;
}
.scon p{
    font-size: 15px;
}


.scbac{
width: 100%;
border-radius: 5px;
padding-left: 5px;
 padding-right: 5px;
border: 1px solid black;
text-align: center;
background-image: url("/elem.jpg");
 background-size: 100% 100%;
  background-repeat: no-repeat;
margin-bottom: 10px;
color:rgb(255, 255, 255)   ;
transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out; 
}
.scbac2{
width: 100%;
border-radius: 5px;
padding-left: 5px;
 padding-right: 5px;
border: 1px solid black;
text-align: center;
background-image: url("/hgh.jpg");
 background-size: 100% 100%;
  background-repeat: no-repeat;
color: white    ;
margin-bottom: 10px;

transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out; 
}
.scbac3{
width: 100%;
border-radius: 5px;
padding-left: 5px;
 padding-right: 5px;
border: 1px solid black;
text-align: center;
background-image: url("/coll.jpg");

 background-size: 100% 100%;
  background-repeat: no-repeat;
color:rgb(255, 255, 255)   ;
margin-bottom: 10px;
transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out; 
}


.scbac:hover, .scbac2:hover, .scbac3:hover {
  color: black;
  background-image: url("/scbac.png");
}

.sch1, .sch{
    position: relative;
    display: flex;
    width: 50%;
    margin-left: 2%;

    
}
.sch1::after{
content: '';
position: absolute;
width: 6px;
background-color: black;
height: 100%;
left:0;
top: 30px;

}
@media (max-width: 768px) {
    .ed{
  
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        }
        .sch1, .sch{
            position: relative;
            display: flex;
            width:95%;
            margin-left: 4%;
        }
        .sch1::after{
               visibility: hidden;
            content: '';
            position: absolute;
            width: 6px;
            background-color: black;
            height: 100%;
            left:0;
            top: 30px;
            }
            .cir{
                   visibility: hidden;
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                left: -13px;
                top: 15px;
                z-index:10 ;
                background-color: rgb(19, 24, 165);
              
            }
          
            .cir1{
                visibility: hidden;
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                left: -22px;
                top: -5px;
                z-index:10 ;
                background-color: rgb(46, 44, 171);
            }
            .scon{
                padding-left: 8%;
                margin-top: 5px;
                width: 80%;
            }
            .scon h1{font-size: 23px;}
            .scon h2{font-size: 16px; line-height: auto ;}
            .scon p{font-size: 12px;}
            

.cra{
    margin-top: 10px;
}
.cra h4{font-size: 16px;}
.sectiona h2{font-size: 25px; border-bottom: 1px solid; border-top: 1px solid;}


}