



.ed{
  
width: 60%;
height: auto;
display: flex;
flex-direction: row;
justify-content: center;

}
.cir{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: -22px;
    top: 15px;
    z-index:10 ;
    background-color: rgb(19, 24, 165);
}
.cir1{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: -22px;
    top: -5px;
    z-index:10 ;
    background-color: rgb(46, 44, 171);
}
.scon{
   padding-left: 9%;
    margin-top: -2px;
    word-spacing:5px;
    line-height: 25px;

}
.sch1, .sch{
    position: relative;
    display: flex;
    width: 50%;
    margin-left: 2%;
}
.sch1::after{
content: '';
position: absolute;
width: 6px;
background-color: black;
height: 100%;
left:0;
top: 30px;
}
@media (max-width: 768px) {
    .ed{
  
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        }
        .sch1, .sch{
            position: relative;
            display: flex;
            width:95%;
            margin-left: 4%;
        }
        .sch1::after{
               visibility: hidden;
            content: '';
            position: absolute;
            width: 6px;
            background-color: black;
            height: 100%;
            left:0;
            top: 30px;
            }
            .cir{
                   visibility: hidden;
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                left: -13px;
                top: 15px;
                z-index:10 ;
                background-color: rgb(19, 24, 165);
            }
            .cir1{
                visibility: hidden;
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                left: -22px;
                top: -5px;
                z-index:10 ;
                background-color: rgb(46, 44, 171);
            }
            .scon{
                padding-left: 8%;
                margin-top: 5px;
                width: 80%;
                border: 1px solid black;
            }
            .scon h1{font-size: 23px;}
            .scon h2{font-size: 16px; line-height: auto ;}
            .scon p{font-size: 12px;}
            

.cra{
    margin-top: 10px;
}
.cra h4{font-size: 16px;}
.sectiona h2{font-size: 25px; border-bottom: 1px solid; border-top: 1px solid;}


}