@media (min-width: 768px) {
.skillcontainer{
    display: flex;
    width: 70%;
    max-width: 100%;
    height: 666px;
    
overflow: hidden;
    justify-items: flex-start;
}
.Skleft{
    width:19.5%;
    height: auto;

}

.Skleft button {
  display: block;
  background-color: inherit;
  color: black;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}




.skright{
    width: 80%;
    height: auto;
}
.skicon{
float: left;
display: flex;
line-height: 10px;
flex-wrap: wrap;
width: 50%;
height: auto;
max-height: 666px;
overflow: auto;
}
.sksk p{margin-top: 1px;}
.sksk{
    width: 100px;
    display:block;
    flex-wrap: nowrap;
 line-height: 0;
 margin-bottom: 2px;
 margin-right: 2px;
 padding-bottom: 1px;
}
.sbar{
    width: 100%;
    height: 11px;
    display: flex;
    
}
.skillbar{
    width: 10%;
    height: 10px;
    background-color: black ;
    border: 1px solid black;
    margin-right: 2px;
}
.skillbarac{  
    width: 10%;
    height: 10px;
    background-color:transparent    ;
    margin-right: 2px;
    border: 1px solid black;
 }
    



.skill{
width: 60px;
height: 60px;
}
.skillde{
width: 100px;
height: 100px;
}
.skdesc{
float: left;
width: 50%;
height: 250px;
}

.descont{
    width: 100%;
    height: auto;
    display: flex;
}
.desl{
    float: left;
    width: 49.6%;
    height: auto;height: auto;height: auto;
}
.desr{
    float: right;
    display: flex;
    flex-direction: column;
    text-align: left;
width: 50%;
height: auto;
      line-height: 30px;
}
.destx{
    padding-top: 15px;
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    text-align: left;
    padding-left: 15px;
    border-top: 1px solid black;
}
}
@media (max-width: 768px) {


.skillcontainer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    height: auto;
  
}
.Skleft{
    order: 1;
    position: block     ;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 50px;
    font-size: 10px;
}
.skright{
    
    order: 2;
    visibility: visible;
   display: flex;
    flex-wrap: wrap;
    width:100%;
    height: auto;
}
.skicon{
    
     order: 3;
display: flex;
line-height: 10px;
flex-wrap: wrap;
width: 100%;
height: 220px;
max-height: 220px;
overflow: auto;
border: 1px solid black;
margin-bottom: 10px;
}
.skill{
width: 60px;
height: 60px;
}

.skillde{
width: 100px;
height: 100px;
}
.skdesc{
     order: 4;
width: 100%;
height: 400px;
max-height:400px ;
top:0;
overflow: scroll;
}

.descont{
   
    position: relative;
    width: 100%;
    justify-content: flex-start;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.desl{
    float: left;
    width: 120px;
    height: 120px;
}
.desr{
    float: inline-end;
    display: flex;
    flex-direction: column;
    text-align: left;
width: 62%;
    height: 120px;
      line-height: 0;
}
.destx{
    padding-top: 15px;
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    text-align: left;
    border-top: 1px solid black;
}


.sksk p{margin-top: 1px;}
.sksk{
    width: 100px;
    display:block;
    flex-wrap: nowrap;
 line-height: 0;
 margin-bottom: 2px;
 margin-right: 2px;
 padding-bottom: 1px;
}
.sbar{
    width: 100%;
    height: 11px;
    display: flex;
    
}
.skillbar{
    width: 10%;
    height: 10px;
    background-color: black ;
    border: 1px solid black;
    margin-right: 2px;
}
.skillbarac{  
    width: 10%;
    height: 10px;
    background-color:transparent    ;
    margin-right: 2px;
    border: 1px solid black;
 }
}