.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  }
  
  .topnav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 90%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .topnav a:hover {
    background-color: #252525;
    color: white;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  /* For mobile devices */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: left; /* Ensure icon floats to the right */
      display: block;  /* Make sure the icon is visible */
      position: absolute; /* Position absolutely within the nav */
      top: 0;           /* Position at the top */
      right: 0;         /* Position at the right */
    }
    .topnav {
        position: fixed; /* Make topnav fixed */
        top: 0;          /* Stick it to the top */
        right: 0;
        width: 100%;
        max-width: 100%;
        text-align: center;
        justify-content: center;
        
    background-color: #252525 ;
        z-index: 1000;        /* Ensure it's above other elements */
    }
    
.topnav a.active {
      display: block;
  }
  .topnav a {
   display: none;
  }
  .topnav.responsive {
    position: fixed; /* Make topnav fixed */
    display: block;
    top: 0;          /* Stick it to the top */
    right: 0;
    width: 100%;
    max-width: 100%;
    background-color: #252525;
    z-index: 1000;        /* Ensure it's above other elements */

  }
  
  .topnav.responsive a.icon {
    float: right;
    display: block;
    position: absolute;
    width: 20px ;
    background-color: #252525;
    color: white;
    text-align: right;
    right: 0;
    top:0;
  }
  
  .topnav.responsive a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    background-color: #252525;
    color: white;
  }
 

  .topnav:not(.responsive) {
  justify-content: center;
}


  }




